body{
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/black-bull-black-clover-mbendol-bento.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
.all{
  display: flex;
  justify-content: center;
}
.container{
  border: 1px solid silver;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  }

.profile{
  display: flex;
  align-items: center;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job, .fullname, .biography, .compagny{
  font-size: larger;
  padding: 9px;

}
button{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: large;
  background-color: bisque;
  border-color: #c0c0c0;
}

button:hover {
  background-color: #ff7f50;
  cursor: pointer;
}

.timer, .button{
  display: flex;
  justify-content: center;
}
.timer{
  color: white;
}
